@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importer la police Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Animation fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s forwards;
}
@keyframes fadeInUp {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

/* Animation pour les cartes au survol */
.hover-animate:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 10px 25px rgba(30,58,138,0.15);
    transition: all 0.3s;
}